.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    background-color: #ADD8E6;
}

.header-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;

}

.header-form {
    display: flex;
    height: 75%;
}

.search-bar {
    margin: 10px;
    width: 200px;
    border-radius: 8px;
}

.search-button {
    margin: 10px;
    padding: 10px;
}

