

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 10px;
    background-color: #ADD8E6;
}

.header-form {
    display: flex;
    height: 75%;
}

