.movie-card {
    flex: 0 0 19%;
    background-color: #FFFFFF;
    margin: 10px;
    padding: 12px;
    border-radius: 8px;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: 0.7px solid black;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.movie-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.1;
}

.movie-img {
    width: 200px;
    border-radius: 8px;
}